/*---IMPORT SCSS---*/
/*---VARIABLES---*/
/*---RESET---*/
* {
  margin: 0%;
  padding: 0%; }

/*---FONTS---*/
@font-face {
  font-family: "ArialBlack";
  src: url(../fonts/arial/ariblk.ttf); }

@font-face {
  font-family: "Agency";
  src: url(../fonts/agency/AGENCYB.TTF); }

@font-face {
  font-family: "SansB";
  src: url(../fonts/sans/LEMONMILK-Bold.otf); }

@font-face {
  font-family: "SansL";
  src: url(../fonts/sans/LEMONMILK-Light.otf); }

@font-face {
  font-family: "Sans";
  src: url(../fonts/sans/LEMONMILK-Medium.otf); }

/*---HEADER---*/
header {
  width: 100%;
  min-height: 10vh;
  background-color: #8cb4bf;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  /*LOGO*/
  /*SECCIONES*/
  /*LINK PRODUCTOS*/
  /*ANIMACION LINK PRODUCTOS*/
  /*CONTENIDO LINK BIDONES HIDRATACION*/
  /*CAJA LINK BIDONES HIDRATACION*/ }
  header img {
    width: 180px; }
  header nav ul {
    margin: 0%;
    padding: 0%;
    margin-bottom: 0.2%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    header nav ul li {
      width: 150px;
      text-align: center;
      font-family: "ArialBlack";
      font-size: 14.5px; }
      header nav ul li a {
        text-decoration: none;
        color: white; }
        header nav ul li a:hover {
          color: black;
          transition: 0.3s; }
  header .offcanvas-title {
    width: 150px;
    color: black;
    font-size: 25px; }
  header .navbar {
    padding: 0%; }
  header .navbar-nav {
    padding: 0%;
    align-items: stretch; }
  header .container-fluid {
    padding: 0%;
    background-color: #8cb4bf; }
  header .navbar-toggler-icon {
    background-image: url("../img/MA.png");
    width: 40px; }
  header .nav-link {
    padding: 0%;
    margin: 0%;
    color: white;
    width: 150px;
    font-family: "ArialBlack";
    font-size: 14.5px; }
  header .nav-item:hover {
    color: black; }
  header .custom-dropdown-item {
    padding: 0%;
    background-color: #8cb4bf;
    color: white;
    width: 200px; }
  header .dropdown-menu.show {
    padding: 5%;
    margin-top: 4%;
    border: none;
    background-color: #8cb4bf;
    width: 215px; }
  header .dropdown-menu li a:hover,
  header .dropdown-menu li a:focus {
    background-color: #8cb4bf;
    color: black; }
  header .button1 {
    border: none;
    color: #8cb4bf; }
  header .btn-close {
    --bs-btn-close-focus-shadow:none;
    --bs-btn-close-opacity: none; }

/*---MAIN---*/
h1 {
  padding-top: 3%;
  text-align: center;
  font-family: "SansB";
  font-size: 25px;
  color: black; }

/*---FOOTER---*/
footer {
  width: 100%;
  min-height: 20vh;
  padding: 2%;
  background-color: #8cb4bf;
  font-family: "ArialBlack";
  font-size: 16px;
  color: white; }
  footer ul {
    text-align: center;
    list-style: none; }
    footer ul li {
      width: 150px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center; }
      footer ul li i {
        font-size: 25px;
        margin-right: 5%; }
      footer ul li a {
        text-decoration: none;
        color: white; }
        footer ul li a:active {
          color: #c8c8c8; }
  footer .footer {
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }

/*---MEDIAS QUERYS---*/
@media (max-width: 768px) {
  /*HEADER*/
  .header {
    display: flex;
    align-items: center; }
  .center {
    text-align: start;
    width: 100%; }
  .offcanvas {
    background-color: #8cb4bf; }
  .nav_ul_offcanvas {
    padding-top: 5%;
    margin: 0%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start; }
  header .dropdown-menu.show {
    margin: 0%; }
  /*MAIN*/
  .main_768 {
    padding: 5% 3% 5% 3%; } }

@media (max-width: 426px) {
  /*MAIN*/
  .main_425 {
    padding: 5% 4% 5% 4%; }
  .h1_425 {
    font-size: 23px;
    padding-top: 5%; }
  /*FOOTER*/
  footer {
    font-size: 14px; }
    footer ul li i {
      font-size: 20px;
      margin-right: 5%; }
    footer .footer {
      display: flex;
      flex-wrap: nowrap; } }

/*CONTAINERS*/
.container_h3_index, .h3_index_a, .h3_index_b {
  width: 480px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 3%;
  font-family: "SansB";
  font-size: 35px;
  color: black; }
  .container_h3_index i, .h3_index_a i, .h3_index_b i {
    font-size: 22px;
    margin: 0% 3% 0% 3%; }

.container_parrafo_index1, .parrafo_index_a1, .parrafo_index_b1 {
  padding: 2%;
  margin: 5% 20% 0% 0%;
  width: 80%;
  height: 50%;
  background: linear-gradient(to right, #c8c8c8 15%, white 100%);
  font-family: "Sans";
  font-size: 16px;
  color: black;
  border-radius: 15px; }

.container_parrafo_index2, .parrafo_index_a2, .parrafo_index_b2 {
  padding: 2%;
  margin-right: 20%;
  width: 80%;
  height: 32%;
  background: linear-gradient(to left, #c8c8c8 15%, white 100%);
  text-align: center;
  font-family: "Sans";
  font-size: 30px;
  font-style: italic;
  color: black;
  border-radius: 15px; }

.h1_index {
  display: none; }

/*GRID*/
.grid_area_index {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr;
  grid-template-areas: "slide_portada slide_portada slide_portada slide_portada" "h3_index_a h3_index_a h3_index_a h3_index_a" "img_index_a img_index_a parrafo_index_a1 parrafo_index_a1" "img_index_a img_index_a parrafo_index_a2 parrafo_index_a2" "h3_index_b h3_index_b h3_index_b h3_index_b" "img_index_b img_index_b parrafo_index_b1 parrafo_index_b1" "img_index_b img_index_b parrafo_index_b2 parrafo_index_b2";
  background-color: white; }

.slide_portada {
  grid-area: slide_portada; }

.h3_index_a {
  grid-area: h3_index_a; }

.img_index_a {
  grid-area: img_index_a; }

.parrafo_index_a1 {
  grid-area: parrafo_index_a1; }

.parrafo_index_a2 {
  grid-area: parrafo_index_a2; }

.h3_index_b {
  grid-area: h3_index_b; }

.img_index_b {
  grid-area: img_index_b; }

.parrafo_index_b1 {
  grid-area: parrafo_index_b1; }

.parrafo_index_b2 {
  grid-area: parrafo_index_b2; }

/*SLIDE PORTADA*/
.carousel-control-prev-icon {
  background-image: url(../img/Flecha_Prev.png); }

.carousel-control-next-icon {
  background-image: url(../img/Flecha_Next.png); }

/*PROMO BROS*/
.img_index_a {
  width: 400px;
  border-radius: 15px; }

/*PROMO KING*/
.img_index_b {
  width: 400px;
  border-radius: 15px; }

/*MEDIAS QUERYS*/
@media (max-width: 768px) {
  .grid_area_index {
    margin-bottom: 8%; }
  .h3_index_a {
    font-size: 30px; }
  .h3_index_b {
    font-size: 30px; }
  .img_index_a {
    width: 280px; }
  .img_index_b {
    width: 280px; }
  .parrafo_index_a1 {
    margin: 5% 10% 0% 0%;
    width: 100%;
    height: 85%;
    font-size: 14px; }
  .parrafo_index_b1 {
    margin: 5% 10% 0% 0%;
    width: 100%;
    height: 70%;
    font-size: 14px; }
  .parrafo_index_a2 {
    margin: 10% 10% 0% 0%;
    height: 40%;
    font-size: 26px; }
  .parrafo_index_b2 {
    margin: 10% 10% 0% 0%;
    height: 40%;
    font-size: 26px; } }

@media (max-width: 426px) {
  .grid_area_index {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas: "h3_index_a h3_index_a h3_index_a h3_index_a" "img_index_a img_index_a img_index_a img_index_a" "parrafo_index_a1 parrafo_index_a1 parrafo_index_a1 parrafo_index_a1" "parrafo_index_a2 parrafo_index_a2 parrafo_index_a2 parrafo_index_a2" "h3_index_b h3_index_b h3_index_b h3_index_b" "img_index_b img_index_b img_index_b img_index_b" "parrafo_index_b1 parrafo_index_b1 parrafo_index_b1 parrafo_index_b1" "parrafo_index_b2 parrafo_index_b2 parrafo_index_b2 parrafo_index_b2"; }
  .h3_index_a {
    width: 350px; }
  .img_index_a {
    width: 240px; }
  .parrafo_index_a1 {
    margin: 6% 0% 0% 0%;
    width: 78%;
    height: 84%;
    font-size: 14px; }
  .parrafo_index_a2 {
    margin: 6% 0% 0% 0%;
    height: 45%;
    font-size: 24px; }
  .h3_index_b {
    width: 350px; }
  .img_index_b {
    width: 240px; }
  .parrafo_index_b1 {
    margin: 6% 0% 0% 0%;
    width: 78%;
    height: 84%;
    font-size: 14px; }
  .parrafo_index_b2 {
    margin: 6% 0% 0% 0%;
    height: 45%;
    font-size: 24px; }
  .slide_portada {
    display: none; } }

/*BIDONES*/
.card-text {
  margin: 0%; }

.card-body {
  padding: 3.5%; }

.bidones_space {
  margin-left: 0.5%;
  border: 1px solid #c8c8c8; }

.bidones {
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.h3_productos {
  text-align: start;
  font-family: "SansB";
  font-size: 20px;
  color: black; }

.h4_productos {
  padding: 1% 0% 2.5% 0%;
  text-align: start;
  font-family: "Sans";
  font-size: 22px;
  color: black; }

.parrafo_productos {
  font-family: "SansL";
  font-size: 12px;
  color: black; }

/*MEDIAS QUERYS*/
@media (max-width: 768px) {
  .bidones_space {
    width: 600px; }
  .bidones {
    padding-top: 5%;
    display: flex;
    justify-content: space-around; } }

@media (max-width: 426px) {
  .bidones_space {
    width: 250px; }
  .bidones {
    padding: 5%; }
  .bidon_beige {
    margin-right: 0%; } }

/*MAIN*/
.h1_qs {
  color: white; }

.main_qs {
  background-image: url("../img/Fondo_Hacha.jpg");
  background-size: contain; }

/*PARRAFOS*/
.parrafo_qs1 {
  padding: 5% 3% 5% 3%;
  height: 280px;
  font-family: "Sans";
  font-size: 16px;
  color: white; }

.parrafo_qs2 {
  padding: 3%;
  margin: 0%;
  height: 366px;
  font-family: "Agency";
  font-size: 30px;
  font-style: italic;
  color: white; }

/*MEDIAS QUERYS*/
@media (max-width: 768px) {
  .parrafo_qs1 {
    height: 210px; }
  .parrafo_qs2 {
    height: 86px; } }

@media (max-width: 426px) {
  .main_qs {
    background-size: cover; }
  .parrafo_qs1 {
    height: 300px; } }

.h1_contacto {
  display: none; }

/*FORMULARIO*/
.form {
  margin: auto;
  margin-top: 8%;
  margin-bottom: 20%;
  padding: 20px;
  width: 800px;
  height: 570px;
  background-color: #8cb4bf;
  border-radius: 15px;
  box-sizing: border-box; }
  .form .title {
    color: white;
    font-family: "SansB";
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 8px; }
  .form .subtitle {
    color: white;
    font-family: "SansB";
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px; }
  .form .input-container {
    height: 50px;
    position: relative;
    width: 100%; }
  .form .ic1 {
    margin-top: 40px; }
  .form .ic2 {
    margin-top: 30px; }
  .form .input {
    background-color: #c8c8c8;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%; }
  .form .submit {
    background-color: #c8c8c8;
    font-family: "SansB";
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%; }
  .form .submit:active {
    background-color: #8a8a8a; }

/*MEDIAS QUERYS*/
@media (max-width: 768px) {
  .form {
    width: 500px; } }

@media (max-width: 426px) {
  .form {
    width: 350px; }
    .form .input {
      font-size: 16px; } }

/*TABLA*/
.h3_mayoristas {
  padding: 2%;
  text-align: left;
  font-family: "Sans";
  font-size: 25px;
  color: black; }

.grid_container_mayoristas {
  padding: 3% 3% 5% 3%;
  width: 100%;
  background-color: white;
  font-family: "Sans";
  font-size: 16px;
  color: black;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
  .grid_container_mayoristas div {
    padding: 1%;
    width: 100%;
    border: 1px solid #c8c8c8;
    text-align: center; }

.h4_mayoristas {
  font-family: "SansB";
  font-size: 18px;
  color: black; }

i {
  font-size: 20px;
  margin-left: 1.5%; }

/*MEDIAS QUERYS*/
@media (max-width: 768px) {
  .h3_mayoristas {
    padding: 5% 2% 2% 3%;
    font-size: 23px; } }

@media (max-width: 426px) {
  .h3_mayoristas {
    padding: 5% 2% 2% 3%;
    font-size: 21px; }
  .h4_mayoristas {
    font-size: 15px; }
  i {
    font-size: 15px; }
  .grid_container_mayoristas {
    padding: 5% 4% 15% 4%;
    font-size: 15px; } }
