.main_c{min-height: 70vh;}

/*BOTON SUMBIT*/
.div_c{
min-height: 15vh;
padding: 2%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;}
.button{
height: 110px;
display: flex;
justify-content: center;
align-items: center;}
.sumbit{
text-decoration: none;
border-radius: 15px;
background-color: #39D48D;
z-index: 0;
border:0;
box-sizing: border-box;
color:white;
font-family:"SansB";
font-size: 20px;
padding: 10px 186px;
position: absolute;
overflow:hidden;}
.sumbit:before {
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
z-index: -1;
transform: translateX(-100%);
transition: all 1s;}
.sumbit:hover:before {
transform: translateX(0);}

/*BOTON DELETE*/
.button_delete{ 
width: 10%;
margin: 1.5% 0% 1% 90%;
font-family:"Toxico";
font-size: 20px;
text-align: center;
background-color: $color_secundario;
border: 0;
border-radius: 100px;
box-sizing: border-box;
color:black;
&:hover {background-color: red;color:white; transition: 0.3s;}}

/*NOTICICACION DATA CARRITO*/
.toastify{
width: 100%;
transform: translate(0px,69.5px)!important;
position: absolute;
display: flex;
justify-content: center;
background-color: black;
font-family: "SansB";
font-size: 16px;
color:white;}
