/*FORMULARIO*/
form{
    padding:5% 3% 15% 3%;
    margin: auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    input{margin:2%;
        &:placeholder {text-align: start;}}}


/*MEDIAS QUERYS*/
@media (max-width:768px){
    form{width: 500px;
    input{ font-size: 14px;}}}
@media (max-width:426px){
    form{width: 300px;
        input{ font-size: 12px; }}}