
/*GRID*/
.grid_area_index{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas:
   "tres_bidones tres_bidones tres_bidones tres_bidones"
   "h3_index h3_index h3_index h3_index"
   "img_index img_index parrafo_index1 parrafo_index1"
   "img_index img_index parrafo_index2 parrafo_index2";
    background-color: white;}
.tres_bidones{grid-area:tres_bidones;}
.h3_index{grid-area:h3_index;}
.img_index{grid-area:img_index;}
.parrafo_index1{grid-area:parrafo_index1;}
.parrafo_index2{grid-area:parrafo_index2;}

/*PORTADA*/
main{
    img {width: 100%;}}

/*PROMO "BROS"*/
.h3_index{
    padding: 3%;
    text-align: center;
    font-family:"SansB";
    font-size: 35px;
    color: black;}
.img_index{width: 400px;border-radius:15px;}
.parrafo_index1{
    padding: 2%;
    margin: 5% 20% 0% 0%;
    width: 80%;
    height: 55%;
    background:linear-gradient(to right, $color_secundario 15%, white 100%);
    font-family:"Sans";
    font-size: 16px;
    color: black;border-radius:15px;}
.parrafo_index2{
    padding: 2%;
    margin-right: 20%;
    width: 80%;
    height: 32%;
    background:linear-gradient(to left, $color_secundario 15%, white 100% );
    text-align: center;
    font-family:"Sans";
    font-size: 30px;
    font-style: italic;
    color: black;border-radius:15px;}

/*MEDIAS QUERYS*/
@media (max-width:768px){
    .grid_area_index{margin-bottom: 8%;}
    .img_index{width: 280px;}
    .parrafo_index1{
    margin: 5% 10% 0% 0%;
    width: 100%;
    height: 90%;}
    .parrafo_index2{
    margin:10% 10% 0% 0%;
    height: 40%;
    font-size: 26px;}}
@media (max-width:426px){
    .grid_area_index{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
   "tres_bidones tres_bidones tres_bidones tres_bidones"
   "h3_index h3_index h3_index h3_index"
   "img_index img_index img_index img_index"
   "parrafo_index1 parrafo_index1 parrafo_index1 parrafo_index1"
   "parrafo_index2 parrafo_index2 parrafo_index2 parrafo_index2";}
    .h3_index{font-size: 30px;}
    .img_index{width: 240px;}
    .parrafo_index1{
    margin: 6% 0% 0% 0%;
    width: 78%;
    height: 84%;
    font-size: 14px;}
    .parrafo_index2{
    margin:6% 0% 0% 0%;
    height: 60%;
    font-size: 24px;}}
