/*TABLA*/
.h3_mayoristas{
    padding: 2%;
    text-align: left;
    font-family:"Sans";
    font-size: 25px;
    color: black;}
.grid_container_mayoristas{
    padding:3% 3% 5% 3%;
    width: 100%;
    background-color: white;
    font-family:"Sans";
    font-size: 16px;
    color: black;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    div{
    padding: 1%;
    width: 100%;
    border: 1px solid $color_secundario;
    text-align: center;}}
.h4_mayoristas{
    font-family:"SansB";
    font-size: 18px;
    color: black;}
i{color:$color_secundario; font-size: 20px;margin-left: 1.5%;}
/*MEDIAS QUERYS*/
@media (max-width:768px){
    .h3_mayoristas{
    padding:5% 2% 2% 3%;
    font-size: 23px;}}
@media (max-width:426px){
    .h3_mayoristas{
    padding:5% 2% 2% 3%;
    font-size: 21px;
    }
    .h4_mayoristas{font-size: 15px;}
    i{font-size: 15px;}
    .grid_container_mayoristas{
    padding:5% 4% 15% 4%;
    font-size: 15px;}}