/*---VARIABLES---*/

$color_principal:#8cb4bf;
$color_secundario:#c8c8c8;

/*---RESET---*/

*{margin: 0%;padding: 0%;}

/*---FONTS---*/

@font-face{ font-family: "ArialBlack";src: url(../fonts/arial/ariblk.ttf)}
@font-face{ font-family: "Agency";src: url(../fonts/agency/AGENCYB.TTF)}
@font-face{ font-family: "SansB";src: url(../fonts/sans/LEMONMILK-Bold.otf)}
@font-face{ font-family: "SansL";src: url(../fonts/sans/LEMONMILK-Light.otf)}
@font-face{ font-family: "Sans";src: url(../fonts/sans/LEMONMILK-Medium.otf)}
@font-face{ font-family: "Toxico";src: url(../fonts/toxico/Toxico.otf)}

/*---HEADER---*/

header{
    width: 100%;
    min-height: 10vh;
    background-color:$color_principal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    /*LOGO*/
    img{width: 180px;}
    /*SECCIONES*/
    nav{
        ul{
            margin:0%;
            padding: 0%;
            margin-bottom:0.2%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            li{
            width: 150px;
            text-align: center;
            font-family: "ArialBlack";
            font-size: 14.5px;
                a {text-decoration: none;color: white;
                    &:hover {color: black;transition: 0.3s;}}}
            .carrito{width: 35px;margin:0px 30px 5px 10px;}}}
    .offcanvas-title{
        width: 150px;
        color: black;
        font-size: 25px;}
    .navbar {padding:0%;}
    .navbar-nav {padding: 0%;align-items: stretch;}
    .container-fluid {padding:0%;background-color: $color_principal;}
    .navbar-toggler-icon {background-image:url('../img/MA.png');width: 40px;}
    /*LINK PRODUCTOS*/
    .nav-link{
        padding: 0%;
        margin:0%;
        color: white;
        width: 150px;
        font-family: "ArialBlack";
        font-size: 14.5px;}
    /*ANIMACION LINK PRODUCTOS*/    
    .nav-item:hover{color:black;}
    /*CONTENIDO LINK BIDONES HIDRATACION*/
    .custom-dropdown-item{
        padding: 0%;
        padding-bottom: 2px;
        text-align: start;
        font-size:14px ;
        background-color: $color_principal;
        color: white;
        width: 180px;} 
    /*CAJA LINK BIDONES HIDRATACION*/
    .dropdown-menu.show{
        padding: 5%;
        margin-top: 4%;
        border: none;
        background-color: $color_principal;
        width: 200px;}
    .dropdown-menu li a:hover,
    .dropdown-menu li a:focus{background-color: $color_principal;color:black;}
    .button1{border: none;color: $color_principal;}
    .btn-close{--bs-btn-close-focus-shadow:none;--bs-btn-close-opacity: none;}}

/*---MAIN---*/

h1 {
    padding-top: 3%;
    text-align: center;
    font-family:"SansB";
    font-size: 25px;
    color:black;}

/*---FOOTER---*/

footer {
    width: 100%;
    min-height: 20vh;
    padding: 2%;
    background-color: $color_principal;
    font-family:"ArialBlack";
    font-size: 16px;
    color: white;
     ul{ 
     text-align: center;
        list-style: none;
        li{ 
            width: 150px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            i{font-size: 25px;margin-right: 5%; color:white;}
            a {text-decoration: none; color: white;
            &:active {color:$color_secundario;}}}}
    .footer{
        padding: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;}}    
    
 /*---MEDIAS QUERYS---*/
@media (min-width:1440px){
    .main_1440{padding: 0% 1% 0% 1%;}
    .h1_1440{font-size: 30px;padding-top: 4%;}
    .bidones_space{max-width: 650px!important}
    .bidones_1440{display: flex;justify-content: space-around!important}
    .h3_productos{font-size: 22px!important}}
@media (max-width:768px){
/*HEADER*/
    .header{
    display: flex;
    align-items: center;}
    .center{text-align:start;width: 100%;}
    .offcanvas{background-color: $color_principal;}
    .nav_ul_offcanvas{
    padding-top: 5%;
    margin: 0%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;}
    header .dropdown-menu.show{margin:0%}
/*MAIN*/
    .main_768{padding: 5% 3% 5% 3%;}}
@media (max-width:426px){
    /*MAIN*/
    .main_425{ padding:5% 4% 5% 4%;}
    .h1_425{font-size: 23px;padding-top: 5%;}
/*FOOTER*/
footer{
    font-size: 14px;
    ul{li{i{font-size: 20px;margin-right: 5%;}}}
    .footer{display: flex;flex-wrap: nowrap;}}}
    